body
{
	height: 100%;
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}
.navigator
{
	color: white;
	font-family: 'Audiowide', cursive;
	text-shadow: 2px 2px 30px rgb(160,226,236);
}
.txt-sml
{
	margin-top: 30px;
	height: 35px;
	width: 300px;
	padding: 10px;
	border: 0.01em solid rgba(24, 116, 205,0.8);
	font-family: 'Audiowide', cursive;
	color: white;
	font-size: 15px;
	letter-spacing: 2px;
	background-color: transparent;
}
::-webkit-input-placeholder
{
	font-family: 'Audiowide', cursive;
	color: white;
	font-size: 15px;
	letter-spacing: 2px;
}
.btn-sml
{
	height: 35px;
	width: 200px;
	border: 0px;
	background-color: white;
	margin-top:20px;
	font-family: 'Audiowide', cursive;
	font-size: 17px;
}
.btn-sml:focus
{
	outline: none;
}
.txt-sml:focus
{
	outline: none;
}
.event-cont
{
	margin: auto;
	display: relative;
	margin-top: 30px;
	max-width: 650px;
}
.event-linker
{
	height:120px;
	width: 120px;
	background-color: rgba(255,255,255,0.1);
	border: 5px double rgba(255,255,255,0.1);
	color: white;
	font-family: 'Audiowide', cursive;
	display: inline;
	padding-bottom: 0px;
}
.item h3
{
	font-family: 'Audiowide', cursive;
	color: white;
	margin-bottom: 20px;
	text-shadow: 2px 2px 30px rgb(160,226,236); 
}
.item ul
{
	list-style: none;
	margin-top: 20px;
}
.item ul li
{
	color: white;
	font-family: 'Audiowide', cursive;
	margin-top: 10px;
	font-size: 15px;
}
.register
{
	border: 0px;
	background-color: white;
	padding:10px;
	font-family: 'Audiowide', cursive;
	letter-spacing: 2px;
	margin-top: 20px;
	height: 25px;
	margin-right: 10px;
}
.back
{
	height: 35px;
	width: 35px;
	background-color: white;
	font-family: 'Audiowide', cursive;
	letter-spacing: 2px;
	margin-top: 25px;
	border: 0px;
	border-radius: 50%;
	font-weight: bolder;
}
.back:focus
{
	outline: none;
	margin-right: 10px;
}
.dev-cont .prof-pic
{
	height: 250px;
	border: 1px solid rgba(24, 116, 205,0.4);
	padding:5px;
}
.dev-cont
{
	text-align: center;
}
.dev-cont .col-sm-6
{
	color: white;
	font-family: 'Audiowide', cursive;
}
.social-links a
{
	color: white;
	margin-left: 10px;
}